project-02-ecommerce-order-processing/project-02-blueprint-sanitized-reference.json
{
  "name": "E-commerce Order Processing, Invoice Logging & Team Notification",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": "WEBHOOK_ID_PLACEHOLDER",
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 600
        },
        "restore": {
          "parameters": {
            "hook": {
              "label": "Getting orders",
              "data": {
                "editable": "true"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-webhook",
            "label": "Webhook",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of results"
          }
        ],
        "interface": [
          {
            "name": "order_id",
            "type": "text"
          },
          {
            "name": "order_timestamp",
            "type": "text"
          },
          {
            "name": "customer_name",
            "type": "text"
          },
          {
            "name": "customer_email",
            "type": "text"
          },
          {
            "name": "payment_status",
            "type": "text"
          },
          {
            "name": "total_amount",
            "type": "number"
          },
          {
            "name": "line_items",
            "type": "array",
            "spec": {
              "type": "collection",
              "spec": [
                {
                  "name": "item_id",
                  "type": "text"
                },
                {
                  "name": "product_name",
                  "type": "text"
                },
                {
                  "name": "sku",
                  "type": "text"
                },
                {
                  "name": "quantity",
                  "type": "number"
                },
                {
                  "name": "unit_price",
                  "type": "number"
                },
                {
                  "name": "line_total",
                  "type": "number"
                }
              ]
            }
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 300,
          "y": 600
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 3,
              "module": "google-sheets:addRow",
              "version": 2,
              "parameters": {
                "__IMTCONN__": "CONNECTION_PLACEHOLDER"
              },
              "filter": {
                "name": "In-Valid Path",
                "conditions": [
                  [
                    {
                      "a": "{{1.order_id}}",
                      "o": "notexist"
                    }
                  ],
                  [
                    {
                      "a": "{{1.order_timestamp}}",
                      "o": "notexist"
                    }
                  ],
                  [
                    {
                      "a": "{{1.line_items}}",
                      "o": "notexist"
                    }
                  ]
                ]
              },
              "mapper": {
                "mode": "select",
                "insertUnformatted": false,
                "valueInputOption": "USER_ENTERED",
                "insertDataOption": "INSERT_ROWS",
                "from": "drive",
                "spreadsheetId": "SPREADSHEET_ID_PLACEHOLDER",
                "sheetId": "Sheet1",
                "includesHeaders": true,
                "useColumnHeaders": false,
                "values": {
                  "0": "{{1.order_timestamp}}",
                  "1": "{{1.order_id}}",
                  "2": "{{1.customer_name}}",
                  "3": "{{1.customer_name}}",
                  "4": "missing_required_field"
                }
              },
              "metadata": {
                "designer": {
                  "x": 600,
                  "y": 0
                },
                "restore": {
                  "parameters": {
                    "__IMTCONN__": "CONNECTION_PLACEHOLDER"
                  },
                  "expect": {
                    "mode": {
                      "label": "Search by path"
                    },
                    "insertUnformatted": {
                      "mode": "chose"
                    },
                    "valueInputOption": {
                      "mode": "chose",
                      "label": "User entered"
                    },
                    "insertDataOption": {
                      "mode": "chose",
                      "label": "Insert rows"
                    },
                    "from": {
                      "label": "My Drive"
                    },
                    "spreadsheetId": {
                      "path": [
                        "Invalid_Orders"
                      ]
                    },
                    "sheetId": {
                      "label": "Sheet1"
                    },
                    "includesHeaders": {
                      "label": "Yes"
                    },
                    "useColumnHeaders": {
                      "nested": [
                        {
                          "name": "values",
                          "label": "Values in columns",
                          "type": "collection",
                          "spec": [
                            {
                              "name": "0",
                              "label": "received_at (A)",
                              "type": "text"
                            },
                            {
                              "name": "1",
                              "label": "raw_order_id (B)",
                              "type": "text"
                            },
                            {
                              "name": "2",
                              "label": "customer_name (C)",
                              "type": "text"
                            },
                            {
                              "name": "3",
                              "label": "customer_email (D)",
                              "type": "text"
                            },
                            {
                              "name": "4",
                              "label": "validation_reason (E)",
                              "type": "text"
                            },
                            {
                              "name": "5",
                              "label": "(F)",
                              "type": "text"
                            },
                            {
                              "name": "6",
                              "label": "(G)",
                              "type": "text"
                            },
                            {
                              "name": "7",
                              "label": "(H)",
                              "type": "text"
                            },
                            {
                              "name": "8",
                              "label": "(I)",
                              "type": "text"
                            },
                            {
                              "name": "9",
                              "label": "(J)",
                              "type": "text"
                            },
                            {
                              "name": "10",
                              "label": "(K)",
                              "type": "text"
                            },
                            {
                              "name": "11",
                              "label": "(L)",
                              "type": "text"
                            },
                            {
                              "name": "12",
                              "label": "(M)",
                              "type": "text"
                            },
                            {
                              "name": "13",
                              "label": "(N)",
                              "type": "text"
                            },
                            {
                              "name": "14",
                              "label": "(O)",
                              "type": "text"
                            },
                            {
                              "name": "15",
                              "label": "(P)",
                              "type": "text"
                            },
                            {
                              "name": "16",
                              "label": "(Q)",
                              "type": "text"
                            },
                            {
                              "name": "17",
                              "label": "(R)",
                              "type": "text"
                            },
                            {
                              "name": "18",
                              "label": "(S)",
                              "type": "text"
                            },
                            {
                              "name": "19",
                              "label": "(T)",
                              "type": "text"
                            },
                            {
                              "name": "20",
                              "label": "(U)",
                              "type": "text"
                            },
                            {
                              "name": "21",
                              "label": "(V)",
                              "type": "text"
                            },
                            {
                              "name": "22",
                              "label": "(W)",
                              "type": "text"
                            },
                            {
                              "name": "23",
                              "label": "(X)",
                              "type": "text"
                            },
                            {
                              "name": "24",
                              "label": "(Y)",
                              "type": "text"
                            },
                            {
                              "name": "25",
                              "label": "(Z)",
                              "type": "text"
                            }
                          ],
                          "metadata": [
                            [
                              [
                                "received_at",
                                "raw_order_id",
                                "customer_name",
                                "customer_email",
                                "validation_reason"
                              ]
                            ]
                          ]
                        }
                      ],
                      "label": "No"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "mode",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "select",
                        "fromAll",
                        "map"
                      ]
                    }
                  },
                  {
                    "name": "insertUnformatted",
                    "type": "boolean",
                    "label": "Unformatted",
                    "required": true
                  },
                  {
                    "name": "valueInputOption",
                    "type": "select",
                    "label": "Value input option",
                    "required": true,
                    "validate": {
                      "enum": [
                        "USER_ENTERED",
                        "RAW"
                      ]
                    }
                  },
                  {
                    "name": "insertDataOption",
                    "type": "select",
                    "label": "Insert data option",
                    "validate": {
                      "enum": [
                        "INSERT_ROWS",
                        "OVERWRITE"
                      ]
                    }
                  },
                  {
                    "name": "from",
                    "type": "select",
                    "label": "Drive",
                    "required": true,
                    "validate": {
                      "enum": [
                        "drive",
                        "share",
                        "team"
                      ]
                    }
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "file",
                    "label": "Spreadsheet Name",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "useColumnHeaders",
                    "type": "select",
                    "label": "Use column headers as IDs of the columns",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "values",
                    "type": "collection",
                    "label": "Values in columns",
                    "metadata": [
                      [
                        [
                          "received_at",
                          "raw_order_id",
                          "customer_name",
                          "customer_email",
                          "validation_reason"
                        ]
                      ]
                    ],
                    "spec": [
                      {
                        "name": "0",
                        "type": "text",
                        "label": "received_at (A)"
                      },
                      {
                        "name": "1",
                        "type": "text",
                        "label": "raw_order_id (B)"
                      },
                      {
                        "name": "2",
                        "type": "text",
                        "label": "customer_name (C)"
                      },
                      {
                        "name": "3",
                        "type": "text",
                        "label": "customer_email (D)"
                      },
                      {
                        "name": "4",
                        "type": "text",
                        "label": "validation_reason (E)"
                      },
                      {
                        "name": "5",
                        "type": "text",
                        "label": "(F)"
                      },
                      {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                      },
                      {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                      },
                      {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                      },
                      {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                      },
                      {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                      },
                      {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                      },
                      {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                      },
                      {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                      },
                      {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                      },
                      {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                      },
                      {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                      },
                      {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                      },
                      {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                      },
                      {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                      },
                      {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                      },
                      {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                      },
                      {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                      },
                      {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                      },
                      {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                      },
                      {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                      }
                    ]
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 7,
              "module": "google-sheets:filterRows",
              "version": 2,
              "parameters": {
                "__IMTCONN__": "CONNECTION_PLACEHOLDER"
              },
              "filter": {
                "name": "Valid Path",
                "conditions": [
                  [
                    {
                      "a": "{{1.order_id}}",
                      "o": "exist"
                    },
                    {
                      "a": "{{1.order_timestamp}}",
                      "o": "exist"
                    },
                    {
                      "a": "{{1.line_items}}",
                      "o": "exist"
                    }
                  ]
                ]
              },
              "mapper": {
                "from": "drive",
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "spreadsheetId": "SPREADSHEET_ID_PLACEHOLDER",
                "sheetId": "Sheet1",
                "includesHeaders": true,
                "tableFirstRow": "A1:CZ1",
                "filter": [
                  [
                    {
                      "a": "A",
                      "o": "text:equal:ci",
                      "b": "{{1.order_id}}"
                    }
                  ]
                ],
                "sortOrder": "asc"
              },
              "metadata": {
                "designer": {
                  "x": 600,
                  "y": 750
                },
                "restore": {
                  "parameters": {
                    "__IMTCONN__": "CONNECTION_PLACEHOLDER"
                  },
                  "expect": {
                    "from": {
                      "label": "Select from My Drive"
                    },
                    "valueRenderOption": {
                      "mode": "chose",
                      "label": "Formatted value"
                    },
                    "dateTimeRenderOption": {
                      "mode": "chose",
                      "label": "Formatted string"
                    },
                    "spreadsheetId": {
                      "mode": "chose",
                      "label": "Orders"
                    },
                    "sheetId": {
                      "mode": "chose",
                      "label": "Sheet1"
                    },
                    "includesHeaders": {
                      "mode": "chose",
                      "label": "Yes"
                    },
                    "tableFirstRow": {
                      "label": "A-CZ"
                    },
                    "orderBy": {
                      "mode": "chose",
                      "label": "Empty"
                    },
                    "sortOrder": {
                      "mode": "chose",
                      "label": "Ascending"
                    }
                  }
                },
                "parameters": [
                  {
                    "name": "__IMTCONN__",
                    "type": "account:google",
                    "label": "Connection",
                    "required": true
                  }
                ],
                "expect": [
                  {
                    "name": "from",
                    "type": "select",
                    "label": "Search Method",
                    "required": true,
                    "validate": {
                      "enum": [
                        "drive",
                        "share"
                      ]
                    }
                  },
                  {
                    "name": "valueRenderOption",
                    "type": "select",
                    "label": "Value render option",
                    "validate": {
                      "enum": [
                        "FORMATTED_VALUE",
                        "UNFORMATTED_VALUE",
                        "FORMULA"
                      ]
                    }
                  },
                  {
                    "name": "SPREADSHEET_ID_PLACEHOLDER",
                    "type": "select",
                    "label": "Date and time render option",
                    "validate": {
                      "enum": [
                        "SERIAL_NUMBER",
                        "FORMATTED_STRING"
                      ]
                    }
                  },
                  {
                    "name": "limit",
                    "type": "uinteger",
                    "label": "Limit"
                  },
                  {
                    "name": "spreadsheetId",
                    "type": "select",
                    "label": "Spreadsheet Name",
                    "required": true
                  },
                  {
                    "name": "sheetId",
                    "type": "select",
                    "label": "Sheet Name",
                    "required": true
                  },
                  {
                    "name": "includesHeaders",
                    "type": "select",
                    "label": "Table contains headers",
                    "required": true,
                    "validate": {
                      "enum": [
                        true,
                        false
                      ]
                    }
                  },
                  {
                    "name": "tableFirstRow",
                    "type": "select",
                    "label": "Column range",
                    "required": true,
                    "validate": {
                      "enum": [
                        "A1:Z1",
                        "A1:BZ1",
                        "A1:CZ1",
                        "A1:DZ1",
                        "A1:MZ1",
                        "A1:ZZ1",
                        "A1:AZZ1",
                        "A1:BZZ1",
                        "A1:CZZ1",
                        "A1:DZZ1",
                        "A1:MZZ1",
                        "A1:ZZZ1"
                      ]
                    }
                  },
                  {
                    "name": "filter",
                    "type": "filter",
                    "label": "Filter",
                    "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                  },
                  {
                    "name": "orderBy",
                    "type": "select",
                    "label": "Order by"
                  },
                  {
                    "name": "sortOrder",
                    "type": "select",
                    "label": "Sort order",
                    "validate": {
                      "enum": [
                        "asc",
                        "desc"
                      ]
                    }
                  }
                ],
                "interface": [
                  {
                    "name": "__IMTLENGTH__",
                    "label": "Total number of bundles",
                    "type": "uinteger"
                  },
                  {
                    "name": "__IMTINDEX__",
                    "label": "Bundle order position",
                    "type": "uinteger"
                  },
                  {
                    "name": "__ROW_NUMBER__",
                    "label": "Row number",
                    "type": "number"
                  },
                  {
                    "name": "__SPREADSHEET_ID__",
                    "label": "Spreadsheet ID",
                    "type": "text"
                  },
                  {
                    "name": "__SHEET__",
                    "label": "Sheet",
                    "type": "text"
                  },
                  {
                    "name": "0",
                    "label": "OrderID (A)",
                    "type": "text"
                  },
                  {
                    "name": "1",
                    "label": "order_timestamp (B)",
                    "type": "text"
                  },
                  {
                    "name": "2",
                    "label": "customer_name (C)",
                    "type": "text"
                  },
                  {
                    "name": "3",
                    "label": "customer_email (D)",
                    "type": "text"
                  },
                  {
                    "name": "4",
                    "label": "payment_status (E)",
                    "type": "text"
                  },
                  {
                    "name": "5",
                    "label": "total_amount (F)",
                    "type": "text"
                  },
                  {
                    "name": "6",
                    "label": "item_count (G)",
                    "type": "text"
                  },
                  {
                    "name": "7",
                    "label": "processed_at (H)",
                    "type": "text"
                  },
                  {
                    "name": "8",
                    "label": "processing_status (I)",
                    "type": "text"
                  },
                  {
                    "name": "9",
                    "label": "notification_status (J)",
                    "type": "text"
                  },
                  {
                    "name": "10",
                    "label": "(K)",
                    "type": "text"
                  },
                  {
                    "name": "11",
                    "label": "(L)",
                    "type": "text"
                  },
                  {
                    "name": "12",
                    "label": "(M)",
                    "type": "text"
                  },
                  {
                    "name": "13",
                    "label": "(N)",
                    "type": "text"
                  },
                  {
                    "name": "14",
                    "label": "(O)",
                    "type": "text"
                  },
                  {
                    "name": "15",
                    "label": "(P)",
                    "type": "text"
                  },
                  {
                    "name": "16",
                    "label": "(Q)",
                    "type": "text"
                  },
                  {
                    "name": "17",
                    "label": "(R)",
                    "type": "text"
                  },
                  {
                    "name": "18",
                    "label": "(S)",
                    "type": "text"
                  },
                  {
                    "name": "19",
                    "label": "(T)",
                    "type": "text"
                  },
                  {
                    "name": "20",
                    "label": "(U)",
                    "type": "text"
                  },
                  {
                    "name": "21",
                    "label": "(V)",
                    "type": "text"
                  },
                  {
                    "name": "22",
                    "label": "(W)",
                    "type": "text"
                  },
                  {
                    "name": "23",
                    "label": "(X)",
                    "type": "text"
                  },
                  {
                    "name": "24",
                    "label": "(Y)",
                    "type": "text"
                  },
                  {
                    "name": "25",
                    "label": "(Z)",
                    "type": "text"
                  },
                  {
                    "name": "26",
                    "label": "(AA)",
                    "type": "text"
                  },
                  {
                    "name": "27",
                    "label": "(AB)",
                    "type": "text"
                  },
                  {
                    "name": "28",
                    "label": "(AC)",
                    "type": "text"
                  },
                  {
                    "name": "29",
                    "label": "(AD)",
                    "type": "text"
                  },
                  {
                    "name": "30",
                    "label": "(AE)",
                    "type": "text"
                  },
                  {
                    "name": "31",
                    "label": "(AF)",
                    "type": "text"
                  },
                  {
                    "name": "32",
                    "label": "(AG)",
                    "type": "text"
                  },
                  {
                    "name": "33",
                    "label": "(AH)",
                    "type": "text"
                  },
                  {
                    "name": "34",
                    "label": "(AI)",
                    "type": "text"
                  },
                  {
                    "name": "35",
                    "label": "(AJ)",
                    "type": "text"
                  },
                  {
                    "name": "36",
                    "label": "(AK)",
                    "type": "text"
                  },
                  {
                    "name": "37",
                    "label": "(AL)",
                    "type": "text"
                  },
                  {
                    "name": "38",
                    "label": "(AM)",
                    "type": "text"
                  },
                  {
                    "name": "39",
                    "label": "(AN)",
                    "type": "text"
                  },
                  {
                    "name": "40",
                    "label": "(AO)",
                    "type": "text"
                  },
                  {
                    "name": "41",
                    "label": "(AP)",
                    "type": "text"
                  },
                  {
                    "name": "42",
                    "label": "(AQ)",
                    "type": "text"
                  },
                  {
                    "name": "43",
                    "label": "(AR)",
                    "type": "text"
                  },
                  {
                    "name": "44",
                    "label": "(AS)",
                    "type": "text"
                  },
                  {
                    "name": "45",
                    "label": "(AT)",
                    "type": "text"
                  },
                  {
                    "name": "46",
                    "label": "(AU)",
                    "type": "text"
                  },
                  {
                    "name": "47",
                    "label": "(AV)",
                    "type": "text"
                  },
                  {
                    "name": "48",
                    "label": "(AW)",
                    "type": "text"
                  },
                  {
                    "name": "49",
                    "label": "(AX)",
                    "type": "text"
                  },
                  {
                    "name": "50",
                    "label": "(AY)",
                    "type": "text"
                  },
                  {
                    "name": "51",
                    "label": "(AZ)",
                    "type": "text"
                  },
                  {
                    "name": "52",
                    "label": "(BA)",
                    "type": "text"
                  },
                  {
                    "name": "53",
                    "label": "(BB)",
                    "type": "text"
                  },
                  {
                    "name": "54",
                    "label": "(BC)",
                    "type": "text"
                  },
                  {
                    "name": "55",
                    "label": "(BD)",
                    "type": "text"
                  },
                  {
                    "name": "56",
                    "label": "(BE)",
                    "type": "text"
                  },
                  {
                    "name": "57",
                    "label": "(BF)",
                    "type": "text"
                  },
                  {
                    "name": "58",
                    "label": "(BG)",
                    "type": "text"
                  },
                  {
                    "name": "59",
                    "label": "(BH)",
                    "type": "text"
                  },
                  {
                    "name": "60",
                    "label": "(BI)",
                    "type": "text"
                  },
                  {
                    "name": "61",
                    "label": "(BJ)",
                    "type": "text"
                  },
                  {
                    "name": "62",
                    "label": "(BK)",
                    "type": "text"
                  },
                  {
                    "name": "63",
                    "label": "(BL)",
                    "type": "text"
                  },
                  {
                    "name": "64",
                    "label": "(BM)",
                    "type": "text"
                  },
                  {
                    "name": "65",
                    "label": "(BN)",
                    "type": "text"
                  },
                  {
                    "name": "66",
                    "label": "(BO)",
                    "type": "text"
                  },
                  {
                    "name": "67",
                    "label": "(BP)",
                    "type": "text"
                  },
                  {
                    "name": "68",
                    "label": "(BQ)",
                    "type": "text"
                  },
                  {
                    "name": "69",
                    "label": "(BR)",
                    "type": "text"
                  },
                  {
                    "name": "70",
                    "label": "(BS)",
                    "type": "text"
                  },
                  {
                    "name": "71",
                    "label": "(BT)",
                    "type": "text"
                  },
                  {
                    "name": "72",
                    "label": "(BU)",
                    "type": "text"
                  },
                  {
                    "name": "73",
                    "label": "(BV)",
                    "type": "text"
                  },
                  {
                    "name": "74",
                    "label": "(BW)",
                    "type": "text"
                  },
                  {
                    "name": "75",
                    "label": "(BX)",
                    "type": "text"
                  },
                  {
                    "name": "76",
                    "label": "(BY)",
                    "type": "text"
                  },
                  {
                    "name": "77",
                    "label": "(BZ)",
                    "type": "text"
                  },
                  {
                    "name": "78",
                    "label": "(CA)",
                    "type": "text"
                  },
                  {
                    "name": "79",
                    "label": "(CB)",
                    "type": "text"
                  },
                  {
                    "name": "80",
                    "label": "(CC)",
                    "type": "text"
                  },
                  {
                    "name": "81",
                    "label": "(CD)",
                    "type": "text"
                  },
                  {
                    "name": "82",
                    "label": "(CE)",
                    "type": "text"
                  },
                  {
                    "name": "83",
                    "label": "(CF)",
                    "type": "text"
                  },
                  {
                    "name": "84",
                    "label": "(CG)",
                    "type": "text"
                  },
                  {
                    "name": "85",
                    "label": "(CH)",
                    "type": "text"
                  },
                  {
                    "name": "86",
                    "label": "(CI)",
                    "type": "text"
                  },
                  {
                    "name": "87",
                    "label": "(CJ)",
                    "type": "text"
                  },
                  {
                    "name": "88",
                    "label": "(CK)",
                    "type": "text"
                  },
                  {
                    "name": "89",
                    "label": "(CL)",
                    "type": "text"
                  },
                  {
                    "name": "90",
                    "label": "(CM)",
                    "type": "text"
                  },
                  {
                    "name": "91",
                    "label": "(CN)",
                    "type": "text"
                  },
                  {
                    "name": "92",
                    "label": "(CO)",
                    "type": "text"
                  },
                  {
                    "name": "93",
                    "label": "(CP)",
                    "type": "text"
                  },
                  {
                    "name": "94",
                    "label": "(CQ)",
                    "type": "text"
                  },
                  {
                    "name": "95",
                    "label": "(CR)",
                    "type": "text"
                  },
                  {
                    "name": "96",
                    "label": "(CS)",
                    "type": "text"
                  },
                  {
                    "name": "97",
                    "label": "(CT)",
                    "type": "text"
                  },
                  {
                    "name": "98",
                    "label": "(CU)",
                    "type": "text"
                  },
                  {
                    "name": "99",
                    "label": "(CV)",
                    "type": "text"
                  },
                  {
                    "name": "100",
                    "label": "(CW)",
                    "type": "text"
                  },
                  {
                    "name": "101",
                    "label": "(CX)",
                    "type": "text"
                  },
                  {
                    "name": "102",
                    "label": "(CY)",
                    "type": "text"
                  },
                  {
                    "name": "103",
                    "label": "(CZ)",
                    "type": "text"
                  }
                ]
              },
              "onerror": [
                {
                  "id": 21,
                  "module": "slack:CreateMessage",
                  "version": 4,
                  "parameters": {
                    "__IMTCONN__": "CONNECTION_PLACEHOLDER"
                  },
                  "filter": {
                    "name": "Escalating to the troubleshooting team(If sheet does not get retrieved)",
                    "conditions": []
                  },
                  "mapper": {
                    "channelWType": "list",
                    "text": "Order duplicate check failed\r\n\r\nOrder ID: {{1.order_id}}Customer: {{1.customer_name}}Time: {{1.order_timestamp}}\nThe workflow could not verify whether this order already exists, so processing was stopped to avoid duplicate logging.",
                    "parse": false,
                    "mrkdwn": true,
                    "channelType": "public",
                    "channel": "SLACK_CHANNEL_PLACEHOLDER"
                  },
                  "metadata": {
                    "designer": {
                      "x": 900,
                      "y": 1200
                    },
                    "restore": {
                      "parameters": {
                        "__IMTCONN__": "CONNECTION_PLACEHOLDER"
                      },
                      "expect": {
                        "channelWType": {
                          "label": "Select from the list"
                        },
                        "reply_broadcast": {
                          "mode": "chose"
                        },
                        "link_names": {
                          "mode": "chose"
                        },
                        "parse": {
                          "mode": "chose"
                        },
                        "mrkdwn": {
                          "mode": "chose"
                        },
                        "unfurl_links": {
                          "mode": "chose"
                        },
                        "unfurl_media": {
                          "mode": "chose"
                        },
                        "channelType": {
                          "label": "Public channel"
                        },
                        "channel": {
                          "mode": "chose",
                          "label": "order-errors"
                        }
                      }
                    },
                    "parameters": [
                      {
                        "name": "__IMTCONN__",
                        "type": "account:slack2,slack3",
                        "label": "Connection",
                        "required": true
                      }
                    ],
                    "expect": [
                      {
                        "name": "channelWType",
                        "type": "select",
                        "label": "Enter a channel ID or name",
                        "required": true,
                        "validate": {
                          "enum": [
                            "manualy",
                            "list"
                          ]
                        }
                      },
                      {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                      },
                      {
                        "name": "blocks",
                        "type": "text",
                        "label": "Blocks"
                      },
                      {
                        "name": "thread_ts",
                        "type": "text",
                        "label": "Thread message ID (time stamp)"
                      },
                      {
                        "name": "reply_broadcast",
                        "type": "boolean",
                        "label": "Reply broadcast"
                      },
                      {
                        "name": "link_names",
                        "type": "boolean",
                        "label": "Link names"
                      },
                      {
                        "name": "parse",
                        "type": "boolean",
                        "label": "Parse message text"
                      },
                      {
                        "name": "mrkdwn",
                        "type": "boolean",
                        "label": "Use markdown"
                      },
                      {
                        "name": "unfurl_links",
                        "type": "boolean",
                        "label": "Unfurl primarily text-based content"
                      },
                      {
                        "name": "unfurl_media",
                        "type": "boolean",
                        "label": "Unfurl media content"
                      },
                      {
                        "name": "icon_emoji",
                        "type": "text",
                        "label": "Icon emoji"
                      },
                      {
                        "name": "icon_url",
                        "type": "url",
                        "label": "Icon url"
                      },
                      {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                      },
                      {
                        "name": "channelType",
                        "type": "select",
                        "label": "Channel type",
                        "required": true,
                        "validate": {
                          "enum": [
                            "public",
                            "private",
                            "im",
                            "mpim"
                          ]
                        }
                      },
                      {
                        "name": "channel",
                        "type": "select",
                        "label": "Public channel",
                        "required": true
                      }
                    ]
                  }
                },
                {
                  "id": 22,
                  "module": "builtin:Break",
                  "version": 1,
                  "parameters": {},
                  "mapper": {
                    "retry": true,
                    "count": "3",
                    "interval": "15"
                  },
                  "metadata": {
                    "designer": {
                      "x": 1200,
                      "y": 1200
                    },
                    "restore": {
                      "expect": {
                        "retry": {
                          "mode": "chose"
                        }
                      }
                    },
                    "expect": [
                      {
                        "name": "retry",
                        "type": "boolean",
                        "label": "Automatically complete execution",
                        "required": true
                      },
                      {
                        "name": "count",
                        "type": "uinteger",
                        "label": "Number of attempts",
                        "validate": {
                          "min": 1,
                          "max": 10000
                        },
                        "required": true
                      },
                      {
                        "name": "interval",
                        "type": "uinteger",
                        "label": "Interval between attempts",
                        "validate": {
                          "min": 1,
                          "max": 44640
                        },
                        "required": true
                      }
                    ]
                  }
                }
              ]
            },
            {
              "id": 4,
              "module": "builtin:BasicRouter",
              "version": 1,
              "filter": {
                "name": "Valid Path",
                "conditions": []
              },
              "mapper": null,
              "metadata": {
                "designer": {
                  "x": 900,
                  "y": 600
                }
              },
              "routes": [
                {
                  "flow": [
                    {
                      "id": 6,
                      "module": "google-sheets:addRow",
                      "version": 2,
                      "parameters": {
                        "__IMTCONN__": "CONNECTION_PLACEHOLDER"
                      },
                      "filter": {
                        "name": "Duplicate is True",
                        "conditions": [
                          [
                            {
                              "a": "{{1.order_id}}",
                              "o": "text:equal:ci",
                              "b": "{{7.`0`}}"
                            }
                          ]
                        ]
                      },
                      "mapper": {
                        "mode": "select",
                        "insertUnformatted": false,
                        "valueInputOption": "USER_ENTERED",
                        "insertDataOption": "INSERT_ROWS",
                        "from": "drive",
                        "spreadsheetId": "SPREADSHEET_ID_PLACEHOLDER",
                        "sheetId": "Sheet1",
                        "includesHeaders": true,
                        "useColumnHeaders": false,
                        "values": {
                          "0": "{{1.order_id}}",
                          "1": "{{1.order_timestamp}}",
                          "2": "{{1.customer_name}}",
                          "3": "{{1.customer_email}}",
                          "4": "{{1.total_amount}}",
                          "5": "{{now}}",
                          "6": "order_id_already_exists"
                        }
                      },
                      "metadata": {
                        "designer": {
                          "x": 1200,
                          "y": 300
                        },
                        "restore": {
                          "parameters": {
                            "__IMTCONN__": "CONNECTION_PLACEHOLDER"
                          },
                          "expect": {
                            "mode": {
                              "label": "Search by path"
                            },
                            "insertUnformatted": {
                              "mode": "chose"
                            },
                            "valueInputOption": {
                              "mode": "chose",
                              "label": "User entered"
                            },
                            "insertDataOption": {
                              "mode": "chose",
                              "label": "Insert rows"
                            },
                            "from": {
                              "label": "My Drive"
                            },
                            "spreadsheetId": {
                              "path": [
                                "Duplicates"
                              ]
                            },
                            "sheetId": {
                              "label": "Sheet1"
                            },
                            "includesHeaders": {
                              "label": "Yes"
                            },
                            "useColumnHeaders": {
                              "nested": [
                                {
                                  "name": "values",
                                  "label": "Values in columns",
                                  "type": "collection",
                                  "spec": [
                                    {
                                      "name": "0",
                                      "label": "OrderID (A)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "1",
                                      "label": "order_timestamp (B)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "2",
                                      "label": "customer_name (C)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "3",
                                      "label": "customer_email (D)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "4",
                                      "label": "total_amount (E)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "5",
                                      "label": "detected_at (F)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "6",
                                      "label": "duplicate_reason (G)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "7",
                                      "label": "(H)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "8",
                                      "label": "(I)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "9",
                                      "label": "(J)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "10",
                                      "label": "(K)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "11",
                                      "label": "(L)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "12",
                                      "label": "(M)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "13",
                                      "label": "(N)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "14",
                                      "label": "(O)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "15",
                                      "label": "(P)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "16",
                                      "label": "(Q)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "17",
                                      "label": "(R)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "18",
                                      "label": "(S)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "19",
                                      "label": "(T)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "20",
                                      "label": "(U)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "21",
                                      "label": "(V)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "22",
                                      "label": "(W)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "23",
                                      "label": "(X)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "24",
                                      "label": "(Y)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "25",
                                      "label": "(Z)",
                                      "type": "text"
                                    }
                                  ],
                                  "metadata": [
                                    [
                                      [
                                        "OrderID",
                                        "order_timestamp",
                                        "customer_name",
                                        "customer_email",
                                        "total_amount",
                                        "detected_at",
                                        "duplicate_reason"
                                      ]
                                    ]
                                  ]
                                }
                              ],
                              "label": "No"
                            }
                          }
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:google",
                            "label": "Connection",
                            "required": true
                          }
                        ],
                        "expect": [
                          {
                            "name": "mode",
                            "type": "select",
                            "label": "Search Method",
                            "required": true,
                            "validate": {
                              "enum": [
                                "select",
                                "fromAll",
                                "map"
                              ]
                            }
                          },
                          {
                            "name": "insertUnformatted",
                            "type": "boolean",
                            "label": "Unformatted",
                            "required": true
                          },
                          {
                            "name": "valueInputOption",
                            "type": "select",
                            "label": "Value input option",
                            "required": true,
                            "validate": {
                              "enum": [
                                "USER_ENTERED",
                                "RAW"
                              ]
                            }
                          },
                          {
                            "name": "insertDataOption",
                            "type": "select",
                            "label": "Insert data option",
                            "validate": {
                              "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                              ]
                            }
                          },
                          {
                            "name": "from",
                            "type": "select",
                            "label": "Drive",
                            "required": true,
                            "validate": {
                              "enum": [
                                "drive",
                                "share",
                                "team"
                              ]
                            }
                          },
                          {
                            "name": "spreadsheetId",
                            "type": "file",
                            "label": "Spreadsheet Name",
                            "required": true
                          },
                          {
                            "name": "sheetId",
                            "type": "select",
                            "label": "Sheet Name",
                            "required": true
                          },
                          {
                            "name": "includesHeaders",
                            "type": "select",
                            "label": "Table contains headers",
                            "required": true,
                            "validate": {
                              "enum": [
                                true,
                                false
                              ]
                            }
                          },
                          {
                            "name": "useColumnHeaders",
                            "type": "select",
                            "label": "Use column headers as IDs of the columns",
                            "required": true,
                            "validate": {
                              "enum": [
                                true,
                                false
                              ]
                            }
                          },
                          {
                            "name": "values",
                            "type": "collection",
                            "label": "Values in columns",
                            "metadata": [
                              [
                                [
                                  "OrderID",
                                  "order_timestamp",
                                  "customer_name",
                                  "customer_email",
                                  "total_amount",
                                  "detected_at",
                                  "duplicate_reason"
                                ]
                              ]
                            ],
                            "spec": [
                              {
                                "name": "0",
                                "type": "text",
                                "label": "OrderID (A)"
                              },
                              {
                                "name": "1",
                                "type": "text",
                                "label": "order_timestamp (B)"
                              },
                              {
                                "name": "2",
                                "type": "text",
                                "label": "customer_name (C)"
                              },
                              {
                                "name": "3",
                                "type": "text",
                                "label": "customer_email (D)"
                              },
                              {
                                "name": "4",
                                "type": "text",
                                "label": "total_amount (E)"
                              },
                              {
                                "name": "5",
                                "type": "text",
                                "label": "detected_at (F)"
                              },
                              {
                                "name": "6",
                                "type": "text",
                                "label": "duplicate_reason (G)"
                              },
                              {
                                "name": "7",
                                "type": "text",
                                "label": "(H)"
                              },
                              {
                                "name": "8",
                                "type": "text",
                                "label": "(I)"
                              },
                              {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                              },
                              {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                              },
                              {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                              },
                              {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                              },
                              {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                              },
                              {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                              },
                              {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                              },
                              {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                              },
                              {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                              },
                              {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                              },
                              {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                              },
                              {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                              },
                              {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                              },
                              {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                              },
                              {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                              },
                              {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                              },
                              {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  ]
                },
                {
                  "flow": [
                    {
                      "id": 11,
                      "module": "google-sheets:addRow",
                      "version": 2,
                      "parameters": {
                        "__IMTCONN__": "CONNECTION_PLACEHOLDER"
                      },
                      "mapper": {
                        "mode": "select",
                        "insertUnformatted": false,
                        "valueInputOption": "USER_ENTERED",
                        "insertDataOption": "INSERT_ROWS",
                        "from": "drive",
                        "spreadsheetId": "SPREADSHEET_ID_PLACEHOLDER",
                        "sheetId": "Sheet1",
                        "includesHeaders": true,
                        "useColumnHeaders": false,
                        "values": {
                          "0": "{{1.order_id}}",
                          "1": "{{1.order_timestamp}}",
                          "2": "{{1.customer_name}}",
                          "3": "{{1.customer_email}}",
                          "4": "{{1.payment_status}}",
                          "5": "{{1.total_amount}}",
                          "6": "{{length(1.line_items)}}",
                          "7": "{{now}}",
                          "8": "Processing",
                          "9": "Processing"
                        }
                      },
                      "metadata": {
                        "designer": {
                          "x": 1200,
                          "y": 750
                        },
                        "restore": {
                          "parameters": {
                            "__IMTCONN__": "CONNECTION_PLACEHOLDER"
                          },
                          "expect": {
                            "mode": {
                              "label": "Search by path"
                            },
                            "insertUnformatted": {
                              "mode": "chose"
                            },
                            "valueInputOption": {
                              "mode": "chose",
                              "label": "User entered"
                            },
                            "insertDataOption": {
                              "mode": "chose",
                              "label": "Insert rows"
                            },
                            "from": {
                              "label": "My Drive"
                            },
                            "spreadsheetId": {
                              "path": [
                                "Orders"
                              ]
                            },
                            "sheetId": {
                              "label": "Sheet1"
                            },
                            "includesHeaders": {
                              "label": "Yes"
                            },
                            "useColumnHeaders": {
                              "nested": [
                                {
                                  "name": "values",
                                  "label": "Values in columns",
                                  "type": "collection",
                                  "spec": [
                                    {
                                      "name": "0",
                                      "label": "OrderID (A)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "1",
                                      "label": "order_timestamp (B)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "2",
                                      "label": "customer_name (C)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "3",
                                      "label": "customer_email (D)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "4",
                                      "label": "payment_status (E)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "5",
                                      "label": "total_amount (F)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "6",
                                      "label": "item_count (G)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "7",
                                      "label": "processed_at (H)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "8",
                                      "label": "processing_status (I)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "9",
                                      "label": "notification_status (J)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "10",
                                      "label": "(K)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "11",
                                      "label": "(L)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "12",
                                      "label": "(M)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "13",
                                      "label": "(N)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "14",
                                      "label": "(O)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "15",
                                      "label": "(P)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "16",
                                      "label": "(Q)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "17",
                                      "label": "(R)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "18",
                                      "label": "(S)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "19",
                                      "label": "(T)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "20",
                                      "label": "(U)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "21",
                                      "label": "(V)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "22",
                                      "label": "(W)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "23",
                                      "label": "(X)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "24",
                                      "label": "(Y)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "25",
                                      "label": "(Z)",
                                      "type": "text"
                                    }
                                  ],
                                  "metadata": [
                                    [
                                      [
                                        "OrderID",
                                        "order_timestamp",
                                        "customer_name",
                                        "customer_email",
                                        "payment_status",
                                        "total_amount",
                                        "item_count",
                                        "processed_at",
                                        "processing_status",
                                        "notification_status"
                                      ]
                                    ]
                                  ]
                                }
                              ],
                              "label": "No"
                            }
                          }
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:google",
                            "label": "Connection",
                            "required": true
                          }
                        ],
                        "expect": [
                          {
                            "name": "mode",
                            "type": "select",
                            "label": "Search Method",
                            "required": true,
                            "validate": {
                              "enum": [
                                "select",
                                "fromAll",
                                "map"
                              ]
                            }
                          },
                          {
                            "name": "insertUnformatted",
                            "type": "boolean",
                            "label": "Unformatted",
                            "required": true
                          },
                          {
                            "name": "valueInputOption",
                            "type": "select",
                            "label": "Value input option",
                            "required": true,
                            "validate": {
                              "enum": [
                                "USER_ENTERED",
                                "RAW"
                              ]
                            }
                          },
                          {
                            "name": "insertDataOption",
                            "type": "select",
                            "label": "Insert data option",
                            "validate": {
                              "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                              ]
                            }
                          },
                          {
                            "name": "from",
                            "type": "select",
                            "label": "Drive",
                            "required": true,
                            "validate": {
                              "enum": [
                                "drive",
                                "share",
                                "team"
                              ]
                            }
                          },
                          {
                            "name": "spreadsheetId",
                            "type": "file",
                            "label": "Spreadsheet Name",
                            "required": true
                          },
                          {
                            "name": "sheetId",
                            "type": "select",
                            "label": "Sheet Name",
                            "required": true
                          },
                          {
                            "name": "includesHeaders",
                            "type": "select",
                            "label": "Table contains headers",
                            "required": true,
                            "validate": {
                              "enum": [
                                true,
                                false
                              ]
                            }
                          },
                          {
                            "name": "useColumnHeaders",
                            "type": "select",
                            "label": "Use column headers as IDs of the columns",
                            "required": true,
                            "validate": {
                              "enum": [
                                true,
                                false
                              ]
                            }
                          },
                          {
                            "name": "values",
                            "type": "collection",
                            "label": "Values in columns",
                            "metadata": [
                              [
                                [
                                  "OrderID",
                                  "order_timestamp",
                                  "customer_name",
                                  "customer_email",
                                  "payment_status",
                                  "total_amount",
                                  "item_count",
                                  "processed_at",
                                  "processing_status",
                                  "notification_status"
                                ]
                              ]
                            ],
                            "spec": [
                              {
                                "name": "0",
                                "type": "text",
                                "label": "OrderID (A)"
                              },
                              {
                                "name": "1",
                                "type": "text",
                                "label": "order_timestamp (B)"
                              },
                              {
                                "name": "2",
                                "type": "text",
                                "label": "customer_name (C)"
                              },
                              {
                                "name": "3",
                                "type": "text",
                                "label": "customer_email (D)"
                              },
                              {
                                "name": "4",
                                "type": "text",
                                "label": "payment_status (E)"
                              },
                              {
                                "name": "5",
                                "type": "text",
                                "label": "total_amount (F)"
                              },
                              {
                                "name": "6",
                                "type": "text",
                                "label": "item_count (G)"
                              },
                              {
                                "name": "7",
                                "type": "text",
                                "label": "processed_at (H)"
                              },
                              {
                                "name": "8",
                                "type": "text",
                                "label": "processing_status (I)"
                              },
                              {
                                "name": "9",
                                "type": "text",
                                "label": "notification_status (J)"
                              },
                              {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                              },
                              {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                              },
                              {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                              },
                              {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                              },
                              {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                              },
                              {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                              },
                              {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                              },
                              {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                              },
                              {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                              },
                              {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                              },
                              {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                              },
                              {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                              },
                              {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                              },
                              {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                              },
                              {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                              },
                              {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                              }
                            ]
                          }
                        ]
                      }
                    },
                    {
                      "id": 26,
                      "module": "airtable:ActionCreateRecord",
                      "version": 3,
                      "parameters": {
                        "__IMTCONN__": "CONNECTION_PLACEHOLDER"
                      },
                      "filter": {
                        "name": "Non Duplicate Orders",
                        "conditions": []
                      },
                      "mapper": {
                        "base": "AIRTABLE_BASE_ID_PLACEHOLDER",
                        "typecast": false,
                        "useColumnId": false,
                        "table": "AIRTABLE_TABLE_ID_PLACEHOLDER",
                        "record": {
                          "fldcBg7KmhgPfR4kR": "{{\"INV- \" + \" \"}}{{1.order_id}}",
                          "fld35wkcSwN7m3gLY": "{{1.order_id}}",
                          "fldB9TDVm9EBscWs0": "{{1.customer_name}}",
                          "fld69xAIo3GNtO4yO": "{{1.customer_email}}",
                          "fldKKhEUR2JBoq2UC": "{{1.total_amount}}",
                          "fld9NBrStSvpIdqjO": "Paid",
                          "fldNOPAURcFybM4hA": "{{now}}"
                        }
                      },
                      "metadata": {
                        "designer": {
                          "x": 1500,
                          "y": 750
                        },
                        "restore": {
                          "parameters": {
                            "__IMTCONN__": "CONNECTION_PLACEHOLDER"
                          },
                          "expect": {
                            "base": {
                              "label": "Order Processing Lab"
                            },
                            "typecast": {
                              "mode": "chose"
                            },
                            "useColumnId": {
                              "mode": "chose"
                            },
                            "table": {
                              "nested": [
                                {
                                  "name": "record",
                                  "spec": [
                                    {
                                      "name": "AIRTABLE_FIELD_ID_PLACEHOLDER",
                                      "label": "invoice_id",
                                      "type": "text"
                                    },
                                    {
                                      "name": "AIRTABLE_FIELD_ID_PLACEHOLDER",
                                      "label": "order_id",
                                      "type": "text"
                                    },
                                    {
                                      "name": "AIRTABLE_FIELD_ID_PLACEHOLDER",
                                      "label": "customer_name",
                                      "type": "text"
                                    },
                                    {
                                      "name": "AIRTABLE_FIELD_ID_PLACEHOLDER",
                                      "label": "customer_email",
                                      "type": "text"
                                    },
                                    {
                                      "name": "AIRTABLE_FIELD_ID_PLACEHOLDER",
                                      "label": "invoice_amount",
                                      "type": "number"
                                    },
                                    {
                                      "name": "AIRTABLE_FIELD_ID_PLACEHOLDER",
                                      "label": "invoice_status",
                                      "type": "select",
                                      "mode": "edit",
                                      "dynamic": true,
                                      "validate": false,
                                      "options": [
                                        {
                                          "label": "generated",
                                          "value": "generated"
                                        },
                                        {
                                          "label": "Paid",
                                          "value": "Paid"
                                        },
                                        {
                                          "label": "Unpaid",
                                          "value": "Unpaid"
                                        },
                                        {
                                          "label": "Overdue",
                                          "value": "Overdue"
                                        }
                                      ]
                                    },
                                    {
                                      "name": "AIRTABLE_FIELD_ID_PLACEHOLDER",
                                      "label": "generated_at",
                                      "type": "date",
                                      "time": true
                                    }
                                  ],
                                  "type": "collection",
                                  "label": "Record"
                                }
                              ],
                              "label": "Invoices"
                            },
                            "record": {
                              "nested": {
                                "fld9NBrStSvpIdqjO": {
                                  "mode": "edit"
                                }
                              }
                            }
                          }
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:airtable3,airtable2",
                            "label": "Connection",
                            "required": true
                          }
                        ],
                        "expect": [
                          {
                            "name": "base",
                            "type": "select",
                            "label": "Base",
                            "required": true
                          },
                          {
                            "name": "typecast",
                            "type": "boolean",
                            "label": "Smart links",
                            "required": true
                          },
                          {
                            "name": "useColumnId",
                            "type": "boolean",
                            "label": "Use Column ID",
                            "required": true
                          },
                          {
                            "name": "table",
                            "type": "select",
                            "label": "Table",
                            "required": true
                          },
                          {
                            "name": "record",
                            "type": "collection",
                            "label": "Record",
                            "spec": [
                              {
                                "name": "AIRTABLE_FIELD_ID_PLACEHOLDER",
                                "type": "text",
                                "label": "invoice_id"
                              },
                              {
                                "name": "AIRTABLE_FIELD_ID_PLACEHOLDER",
                                "type": "text",
                                "label": "order_id"
                              },
                              {
                                "name": "AIRTABLE_FIELD_ID_PLACEHOLDER",
                                "type": "text",
                                "label": "customer_name"
                              },
                              {
                                "name": "AIRTABLE_FIELD_ID_PLACEHOLDER",
                                "type": "text",
                                "label": "customer_email"
                              },
                              {
                                "name": "AIRTABLE_FIELD_ID_PLACEHOLDER",
                                "type": "number",
                                "label": "invoice_amount"
                              },
                              {
                                "name": "AIRTABLE_FIELD_ID_PLACEHOLDER",
                                "type": "select",
                                "label": "invoice_status",
                                "mode": "edit"
                              },
                              {
                                "name": "AIRTABLE_FIELD_ID_PLACEHOLDER",
                                "type": "date",
                                "label": "generated_at",
                                "time": true
                              }
                            ]
                          }
                        ],
                        "interface": [
                          {
                            "name": "id",
                            "type": "text",
                            "label": "ID"
                          },
                          {
                            "name": "createdTime",
                            "type": "date",
                            "label": "Created Time"
                          },
                          {
                            "name": "invoice_id",
                            "label": "invoice_id",
                            "type": "text"
                          },
                          {
                            "name": "order_id",
                            "label": "order_id",
                            "type": "text"
                          },
                          {
                            "name": "customer_name",
                            "label": "customer_name",
                            "type": "text"
                          },
                          {
                            "name": "customer_email",
                            "label": "customer_email",
                            "type": "text"
                          },
                          {
                            "name": "invoice_amount",
                            "label": "invoice_amount",
                            "type": "number"
                          },
                          {
                            "name": "invoice_status",
                            "label": "invoice_status",
                            "type": "text"
                          },
                          {
                            "name": "generated_at",
                            "label": "generated_at",
                            "type": "date",
                            "time": true
                          }
                        ]
                      }
                    },
                    {
                      "id": 28,
                      "module": "email:ActionSendEmail",
                      "version": 7,
                      "parameters": {
                        "account": "EMAIL_ACCOUNT_PLACEHOLDER",
                        "saveAfterSent": false
                      },
                      "mapper": {
                        "to": [
                          "{{1.customer_email}}"
                        ],
                        "subject": "Your order has been confirmed — {{1.order_id}}",
                        "contentType": "text",
                        "attachments": [],
                        "cc": [],
                        "bcc": [],
                        "from": "",
                        "sender": "",
                        "replyTo": "",
                        "inReplyTo": "",
                        "references": [],
                        "priority": "normal",
                        "headers": [],
                        "text": "Hi {{1.customer_name}},\n\nThank you for your purchase. Your order has been received successfully, and your invoice has been generated.\n\nOrder ID: {{1.order_id}}\nInvoice ID: INV-{{1.order_id}}\nTotal Amount: {{1.total_amount}}\n\nWe appreciate your business and will continue processing your order.\n\nBest regards,\nYour Team"
                      },
                      "metadata": {
                        "designer": {
                          "x": 1800,
                          "y": 750
                        },
                        "restore": {
                          "parameters": {
                            "account": {
                              "label": "My Google Restricted connection (SANITIZED)",
                              "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                              }
                            },
                            "saveAfterSent": {
                              "label": "No"
                            }
                          },
                          "expect": {
                            "to": {
                              "mode": "chose",
                              "items": [
                                null
                              ]
                            },
                            "contentType": {
                              "label": "Plaintext"
                            },
                            "attachments": {
                              "mode": "chose"
                            },
                            "cc": {
                              "mode": "chose"
                            },
                            "bcc": {
                              "mode": "chose"
                            },
                            "references": {
                              "mode": "chose"
                            },
                            "priority": {
                              "label": "Normal"
                            }
                          }
                        },
                        "parameters": [
                          {
                            "name": "account",
                            "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                            "label": "Connection",
                            "required": true
                          },
                          {
                            "name": "saveAfterSent",
                            "type": "select",
                            "label": "Save message after sending",
                            "required": true,
                            "validate": {
                              "enum": [
                                true,
                                false
                              ]
                            }
                          }
                        ],
                        "expect": [
                          {
                            "name": "to",
                            "type": "array",
                            "label": "To",
                            "required": true,
                            "spec": {
                              "name": "value",
                              "type": "email",
                              "label": "Email address",
                              "required": true
                            }
                          },
                          {
                            "name": "subject",
                            "type": "text",
                            "label": "Subject"
                          },
                          {
                            "name": "contentType",
                            "type": "select",
                            "label": "Content Type",
                            "required": true,
                            "validate": {
                              "enum": [
                                "html",
                                "text"
                              ]
                            }
                          },
                          {
                            "name": "attachments",
                            "type": "array",
                            "label": "Attachments",
                            "spec": [
                              {
                                "name": "fileName",
                                "label": "File name",
                                "type": "filename",
                                "required": true,
                                "semantic": "file:name"
                              },
                              {
                                "name": "data",
                                "label": "Data",
                                "type": "buffer",
                                "required": true,
                                "semantic": "file:data"
                              },
                              {
                                "name": "cid",
                                "label": "Content-ID",
                                "type": "text"
                              }
                            ]
                          },
                          {
                            "name": "cc",
                            "type": "array",
                            "label": "Copy recipient",
                            "spec": {
                              "name": "value",
                              "type": "email",
                              "label": "Email address"
                            }
                          },
                          {
                            "name": "bcc",
                            "type": "array",
                            "label": "Blind copy recipient",
                            "spec": {
                              "name": "value",
                              "type": "email",
                              "label": "Email address"
                            }
                          },
                          {
                            "name": "from",
                            "type": "text",
                            "label": "From"
                          },
                          {
                            "name": "sender",
                            "type": "text",
                            "label": "Sender"
                          },
                          {
                            "name": "replyTo",
                            "type": "text",
                            "label": "Reply-To"
                          },
                          {
                            "name": "inReplyTo",
                            "type": "text",
                            "label": "In-Reply-To"
                          },
                          {
                            "name": "references",
                            "type": "array",
                            "label": "References",
                            "spec": {
                              "type": "text",
                              "label": "Reference",
                              "required": true,
                              "name": "value"
                            }
                          },
                          {
                            "name": "priority",
                            "type": "select",
                            "label": "Priority",
                            "validate": {
                              "enum": [
                                "high",
                                "normal",
                                "low"
                              ]
                            }
                          },
                          {
                            "name": "headers",
                            "type": "array",
                            "label": "Headers",
                            "spec": [
                              {
                                "name": "key",
                                "label": "Key",
                                "type": "text",
                                "required": true
                              },
                              {
                                "name": "value",
                                "label": "Value",
                                "type": "text",
                                "required": true
                              }
                            ]
                          },
                          {
                            "name": "text",
                            "type": "text",
                            "label": "Content"
                          }
                        ]
                      }
                    },
                    {
                      "id": 13,
                      "module": "builtin:BasicFeeder",
                      "version": 1,
                      "parameters": {},
                      "mapper": {
                        "array": "{{1.line_items}}"
                      },
                      "metadata": {
                        "designer": {
                          "x": 2100,
                          "y": 750
                        },
                        "restore": {
                          "expect": {
                            "array": {
                              "mode": "edit"
                            }
                          }
                        },
                        "expect": [
                          {
                            "name": "array",
                            "type": "array",
                            "label": "Array",
                            "mode": "edit",
                            "spec": []
                          }
                        ]
                      }
                    },
                    {
                      "id": 15,
                      "module": "google-sheets:addRow",
                      "version": 2,
                      "parameters": {
                        "__IMTCONN__": "CONNECTION_PLACEHOLDER"
                      },
                      "mapper": {
                        "mode": "select",
                        "insertUnformatted": false,
                        "valueInputOption": "USER_ENTERED",
                        "insertDataOption": "INSERT_ROWS",
                        "from": "drive",
                        "spreadsheetId": "SPREADSHEET_ID_PLACEHOLDER",
                        "sheetId": "Sheet1",
                        "includesHeaders": true,
                        "useColumnHeaders": false,
                        "values": {
                          "0": "{{1.order_id}}",
                          "1": "{{13.item_id}}",
                          "2": "{{13.product_name}}",
                          "3": "{{13.sku}}",
                          "4": "{{13.quantity}}",
                          "5": "{{13.unit_price}}",
                          "6": "{{13.line_total}}",
                          "7": "{{now}}"
                        }
                      },
                      "metadata": {
                        "designer": {
                          "x": 2400,
                          "y": 750
                        },
                        "restore": {
                          "parameters": {
                            "__IMTCONN__": "CONNECTION_PLACEHOLDER"
                          },
                          "expect": {
                            "mode": {
                              "label": "Search by path"
                            },
                            "insertUnformatted": {
                              "mode": "chose"
                            },
                            "valueInputOption": {
                              "mode": "chose",
                              "label": "User entered"
                            },
                            "insertDataOption": {
                              "mode": "chose",
                              "label": "Insert rows"
                            },
                            "from": {
                              "label": "My Drive"
                            },
                            "spreadsheetId": {
                              "path": [
                                "Order_Items"
                              ]
                            },
                            "sheetId": {
                              "label": "Sheet1"
                            },
                            "includesHeaders": {
                              "label": "Yes"
                            },
                            "useColumnHeaders": {
                              "nested": [
                                {
                                  "name": "values",
                                  "label": "Values in columns",
                                  "type": "collection",
                                  "spec": [
                                    {
                                      "name": "0",
                                      "label": "OrderID (A)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "1",
                                      "label": "item_id (B)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "2",
                                      "label": "product_name (C)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "3",
                                      "label": "sku (D)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "4",
                                      "label": "quantity (E)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "5",
                                      "label": "unit_price (F)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "6",
                                      "label": "line_total (G)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "7",
                                      "label": "logged_at (H)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "8",
                                      "label": "(I)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "9",
                                      "label": "(J)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "10",
                                      "label": "(K)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "11",
                                      "label": "(L)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "12",
                                      "label": "(M)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "13",
                                      "label": "(N)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "14",
                                      "label": "(O)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "15",
                                      "label": "(P)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "16",
                                      "label": "(Q)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "17",
                                      "label": "(R)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "18",
                                      "label": "(S)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "19",
                                      "label": "(T)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "20",
                                      "label": "(U)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "21",
                                      "label": "(V)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "22",
                                      "label": "(W)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "23",
                                      "label": "(X)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "24",
                                      "label": "(Y)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "25",
                                      "label": "(Z)",
                                      "type": "text"
                                    }
                                  ],
                                  "metadata": [
                                    [
                                      [
                                        "OrderID",
                                        "item_id",
                                        "product_name",
                                        "sku",
                                        "quantity",
                                        "unit_price",
                                        "line_total",
                                        "logged_at"
                                      ]
                                    ]
                                  ]
                                }
                              ],
                              "label": "No"
                            }
                          }
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:google",
                            "label": "Connection",
                            "required": true
                          }
                        ],
                        "expect": [
                          {
                            "name": "mode",
                            "type": "select",
                            "label": "Search Method",
                            "required": true,
                            "validate": {
                              "enum": [
                                "select",
                                "fromAll",
                                "map"
                              ]
                            }
                          },
                          {
                            "name": "insertUnformatted",
                            "type": "boolean",
                            "label": "Unformatted",
                            "required": true
                          },
                          {
                            "name": "valueInputOption",
                            "type": "select",
                            "label": "Value input option",
                            "required": true,
                            "validate": {
                              "enum": [
                                "USER_ENTERED",
                                "RAW"
                              ]
                            }
                          },
                          {
                            "name": "insertDataOption",
                            "type": "select",
                            "label": "Insert data option",
                            "validate": {
                              "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                              ]
                            }
                          },
                          {
                            "name": "from",
                            "type": "select",
                            "label": "Drive",
                            "required": true,
                            "validate": {
                              "enum": [
                                "drive",
                                "share",
                                "team"
                              ]
                            }
                          },
                          {
                            "name": "spreadsheetId",
                            "type": "file",
                            "label": "Spreadsheet Name",
                            "required": true
                          },
                          {
                            "name": "sheetId",
                            "type": "select",
                            "label": "Sheet Name",
                            "required": true
                          },
                          {
                            "name": "includesHeaders",
                            "type": "select",
                            "label": "Table contains headers",
                            "required": true,
                            "validate": {
                              "enum": [
                                true,
                                false
                              ]
                            }
                          },
                          {
                            "name": "useColumnHeaders",
                            "type": "select",
                            "label": "Use column headers as IDs of the columns",
                            "required": true,
                            "validate": {
                              "enum": [
                                true,
                                false
                              ]
                            }
                          },
                          {
                            "name": "values",
                            "type": "collection",
                            "label": "Values in columns",
                            "metadata": [
                              [
                                [
                                  "OrderID",
                                  "item_id",
                                  "product_name",
                                  "sku",
                                  "quantity",
                                  "unit_price",
                                  "line_total",
                                  "logged_at"
                                ]
                              ]
                            ],
                            "spec": [
                              {
                                "name": "0",
                                "type": "text",
                                "label": "OrderID (A)"
                              },
                              {
                                "name": "1",
                                "type": "text",
                                "label": "item_id (B)"
                              },
                              {
                                "name": "2",
                                "type": "text",
                                "label": "product_name (C)"
                              },
                              {
                                "name": "3",
                                "type": "text",
                                "label": "sku (D)"
                              },
                              {
                                "name": "4",
                                "type": "text",
                                "label": "quantity (E)"
                              },
                              {
                                "name": "5",
                                "type": "text",
                                "label": "unit_price (F)"
                              },
                              {
                                "name": "6",
                                "type": "text",
                                "label": "line_total (G)"
                              },
                              {
                                "name": "7",
                                "type": "text",
                                "label": "logged_at (H)"
                              },
                              {
                                "name": "8",
                                "type": "text",
                                "label": "(I)"
                              },
                              {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                              },
                              {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                              },
                              {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                              },
                              {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                              },
                              {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                              },
                              {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                              },
                              {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                              },
                              {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                              },
                              {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                              },
                              {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                              },
                              {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                              },
                              {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                              },
                              {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                              },
                              {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                              },
                              {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                              },
                              {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                              },
                              {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                              }
                            ]
                          }
                        ]
                      }
                    },
                    {
                      "id": 18,
                      "module": "builtin:BasicAggregator",
                      "version": 1,
                      "parameters": {
                        "feeder": 13
                      },
                      "mapper": {
                        "item_id": "{{13.item_id}}",
                        "product_name": "{{13.product_name}}",
                        "sku": "{{13.sku}}",
                        "quantity": "{{13.quantity}}",
                        "unit_price": "{{13.unit_price}}",
                        "line_total": "{{13.line_total}}"
                      },
                      "metadata": {
                        "designer": {
                          "x": 2700,
                          "y": 750
                        },
                        "restore": {
                          "extra": {
                            "feeder": {
                              "label": "Iterator [13]"
                            },
                            "target": {
                              "label": "Custom"
                            }
                          }
                        }
                      }
                    },
                    {
                      "id": 17,
                      "module": "slack:CreateMessage",
                      "version": 4,
                      "parameters": {
                        "__IMTCONN__": "CONNECTION_PLACEHOLDER"
                      },
                      "mapper": {
                        "channelWType": "list",
                        "text": "New paid order received\r\n\r\nOrder ID: {{1.order_id}}\nOrder Time: {{1.order_timestamp}}\nCustomer: {{1.customer_name}}\nItems: {{length(1.line_items)}}\nTotal Amount: {{1.total_amount}}\nPayment Status: {{1.payment_status}}",
                        "parse": false,
                        "mrkdwn": true,
                        "channelType": "public",
                        "channel": "SLACK_CHANNEL_PLACEHOLDER"
                      },
                      "metadata": {
                        "designer": {
                          "x": 3000,
                          "y": 750
                        },
                        "restore": {
                          "parameters": {
                            "__IMTCONN__": "CONNECTION_PLACEHOLDER"
                          },
                          "expect": {
                            "channelWType": {
                              "label": "Select from the list"
                            },
                            "reply_broadcast": {
                              "mode": "chose"
                            },
                            "link_names": {
                              "mode": "chose"
                            },
                            "parse": {
                              "mode": "chose"
                            },
                            "mrkdwn": {
                              "mode": "chose"
                            },
                            "unfurl_links": {
                              "mode": "chose"
                            },
                            "unfurl_media": {
                              "mode": "chose"
                            },
                            "channelType": {
                              "label": "Public channel"
                            },
                            "channel": {
                              "mode": "chose",
                              "label": "sales-orders"
                            }
                          }
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:slack2,slack3",
                            "label": "Connection",
                            "required": true
                          }
                        ],
                        "expect": [
                          {
                            "name": "channelWType",
                            "type": "select",
                            "label": "Enter a channel ID or name",
                            "required": true,
                            "validate": {
                              "enum": [
                                "manualy",
                                "list"
                              ]
                            }
                          },
                          {
                            "name": "text",
                            "type": "text",
                            "label": "Text"
                          },
                          {
                            "name": "blocks",
                            "type": "text",
                            "label": "Blocks"
                          },
                          {
                            "name": "thread_ts",
                            "type": "text",
                            "label": "Thread message ID (time stamp)"
                          },
                          {
                            "name": "reply_broadcast",
                            "type": "boolean",
                            "label": "Reply broadcast"
                          },
                          {
                            "name": "link_names",
                            "type": "boolean",
                            "label": "Link names"
                          },
                          {
                            "name": "parse",
                            "type": "boolean",
                            "label": "Parse message text"
                          },
                          {
                            "name": "mrkdwn",
                            "type": "boolean",
                            "label": "Use markdown"
                          },
                          {
                            "name": "unfurl_links",
                            "type": "boolean",
                            "label": "Unfurl primarily text-based content"
                          },
                          {
                            "name": "unfurl_media",
                            "type": "boolean",
                            "label": "Unfurl media content"
                          },
                          {
                            "name": "icon_emoji",
                            "type": "text",
                            "label": "Icon emoji"
                          },
                          {
                            "name": "icon_url",
                            "type": "url",
                            "label": "Icon url"
                          },
                          {
                            "name": "username",
                            "type": "text",
                            "label": "User name"
                          },
                          {
                            "name": "channelType",
                            "type": "select",
                            "label": "Channel type",
                            "required": true,
                            "validate": {
                              "enum": [
                                "public",
                                "private",
                                "im",
                                "mpim"
                              ]
                            }
                          },
                          {
                            "name": "channel",
                            "type": "select",
                            "label": "Public channel",
                            "required": true
                          }
                        ]
                      },
                      "onerror": [
                        {
                          "id": 23,
                          "module": "telegram:SendReplyMessage",
                          "version": 1,
                          "parameters": {
                            "__IMTCONN__": "CONNECTION_PLACEHOLDER"
                          },
                          "filter": {
                            "name": "If channel does not work",
                            "conditions": []
                          },
                          "mapper": {
                            "chatId": "TELEGRAM_CHAT_PLACEHOLDER",
                            "text": "Slack order notification failed\r\n\r\nOrder ID: {{1.order_id}}\nOrder Time: {{1.order_timestamp}}\nCustomer: {{1.customer_name}}\nItems: {{length(1.line_items)}}\nTotal Amount: {{1.total_amount}}\nPayment Status: {{1.payment_status}}",
                            "messageThreadId": "",
                            "parseMode": "",
                            "replyToMessageId": "",
                            "replyMarkupAssembleType": "reply_markup_enter",
                            "replyMarkup": ""
                          },
                          "metadata": {
                            "designer": {
                              "x": 3300,
                              "y": 900
                            },
                            "restore": {
                              "parameters": {
                                "__IMTCONN__": "CONNECTION_PLACEHOLDER"
                              },
                              "expect": {
                                "parseMode": {
                                  "label": "Empty"
                                },
                                "disableNotification": {
                                  "mode": "chose"
                                },
                                "replyMarkupAssembleType": {
                                  "label": "Enter the Reply Markup"
                                }
                              }
                            },
                            "parameters": [
                              {
                                "name": "__IMTCONN__",
                                "type": "account:telegram",
                                "label": "Connection",
                                "required": true
                              }
                            ],
                            "expect": [
                              {
                                "name": "chatId",
                                "type": "text",
                                "label": "Chat ID",
                                "required": true
                              },
                              {
                                "name": "text",
                                "type": "text",
                                "label": "Text",
                                "required": true
                              },
                              {
                                "name": "messageThreadId",
                                "type": "number",
                                "label": "Message Thread ID"
                              },
                              {
                                "name": "parseMode",
                                "type": "select",
                                "label": "Parse Mode",
                                "validate": {
                                  "enum": [
                                    "Markdown",
                                    "HTML"
                                  ]
                                }
                              },
                              {
                                "name": "disableNotification",
                                "type": "boolean",
                                "label": "Disable Notifications"
                              },
                              {
                                "name": "SPREADSHEET_ID_PLACEHOLDER",
                                "type": "boolean",
                                "label": "Disable Link Previews"
                              },
                              {
                                "name": "replyToMessageId",
                                "type": "number",
                                "label": "Original Message ID"
                              },
                              {
                                "name": "SPREADSHEET_ID_PLACEHOLDER",
                                "type": "select",
                                "label": "Enter/Assemble the Reply Markup Field",
                                "validate": {
                                  "enum": [
                                    "reply_markup_enter",
                                    "SPREADSHEET_ID_PLACEHOLDER"
                                  ]
                                }
                              },
                              {
                                "name": "replyMarkup",
                                "type": "text",
                                "label": "Reply Markup"
                              }
                            ]
                          }
                        },
                        {
                          "id": 25,
                          "module": "builtin:Break",
                          "version": 1,
                          "parameters": {},
                          "mapper": {
                            "retry": true,
                            "count": "3",
                            "interval": "15"
                          },
                          "metadata": {
                            "designer": {
                              "x": 3600,
                              "y": 900
                            },
                            "restore": {
                              "expect": {
                                "retry": {
                                  "mode": "chose"
                                }
                              }
                            },
                            "expect": [
                              {
                                "name": "retry",
                                "type": "boolean",
                                "label": "Automatically complete execution",
                                "required": true
                              },
                              {
                                "name": "count",
                                "type": "uinteger",
                                "label": "Number of attempts",
                                "validate": {
                                  "min": 1,
                                  "max": 10000
                                },
                                "required": true
                              },
                              {
                                "name": "interval",
                                "type": "uinteger",
                                "label": "Interval between attempts",
                                "validate": {
                                  "min": 1,
                                  "max": 44640
                                },
                                "required": true
                              }
                            ]
                          }
                        }
                      ]
                    },
                    {
                      "id": 20,
                      "module": "google-sheets:updateRow",
                      "version": 2,
                      "parameters": {
                        "__IMTCONN__": "CONNECTION_PLACEHOLDER"
                      },
                      "mapper": {
                        "mode": "select",
                        "valueInputOption": "USER_ENTERED",
                        "from": "drive",
                        "spreadsheetId": "SPREADSHEET_ID_PLACEHOLDER",
                        "sheetId": "Sheet1",
                        "rowNumber": "{{11.rowNumber}}",
                        "includesHeaders": true,
                        "useColumnHeaders": false,
                        "values": {
                          "8": "Processed",
                          "9": "Sent_to_Slack"
                        }
                      },
                      "metadata": {
                        "designer": {
                          "x": 3300,
                          "y": 600
                        },
                        "restore": {
                          "parameters": {
                            "__IMTCONN__": "CONNECTION_PLACEHOLDER"
                          },
                          "expect": {
                            "mode": {
                              "label": "Search by path"
                            },
                            "valueInputOption": {
                              "mode": "chose",
                              "label": "User entered"
                            },
                            "from": {
                              "label": "My Drive"
                            },
                            "spreadsheetId": {
                              "path": [
                                "Orders"
                              ]
                            },
                            "sheetId": {
                              "label": "Sheet1"
                            },
                            "includesHeaders": {
                              "label": "Yes"
                            },
                            "useColumnHeaders": {
                              "nested": [
                                {
                                  "name": "values",
                                  "label": "Values in columns",
                                  "type": "collection",
                                  "spec": [
                                    {
                                      "name": "0",
                                      "label": "OrderID (A)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "1",
                                      "label": "order_timestamp (B)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "2",
                                      "label": "customer_name (C)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "3",
                                      "label": "customer_email (D)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "4",
                                      "label": "payment_status (E)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "5",
                                      "label": "total_amount (F)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "6",
                                      "label": "item_count (G)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "7",
                                      "label": "processed_at (H)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "8",
                                      "label": "processing_status (I)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "9",
                                      "label": "notification_status (J)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "10",
                                      "label": "(K)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "11",
                                      "label": "(L)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "12",
                                      "label": "(M)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "13",
                                      "label": "(N)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "14",
                                      "label": "(O)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "15",
                                      "label": "(P)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "16",
                                      "label": "(Q)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "17",
                                      "label": "(R)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "18",
                                      "label": "(S)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "19",
                                      "label": "(T)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "20",
                                      "label": "(U)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "21",
                                      "label": "(V)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "22",
                                      "label": "(W)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "23",
                                      "label": "(X)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "24",
                                      "label": "(Y)",
                                      "type": "text"
                                    },
                                    {
                                      "name": "25",
                                      "label": "(Z)",
                                      "type": "text"
                                    }
                                  ],
                                  "metadata": [
                                    [
                                      [
                                        "OrderID",
                                        "order_timestamp",
                                        "customer_name",
                                        "customer_email",
                                        "payment_status",
                                        "total_amount",
                                        "item_count",
                                        "processed_at",
                                        "processing_status",
                                        "notification_status"
                                      ]
                                    ]
                                  ]
                                }
                              ],
                              "label": "No"
                            }
                          }
                        },
                        "parameters": [
                          {
                            "name": "__IMTCONN__",
                            "type": "account:google",
                            "label": "Connection",
                            "required": true
                          }
                        ],
                        "expect": [
                          {
                            "name": "mode",
                            "type": "select",
                            "label": "Search Method",
                            "required": true,
                            "validate": {
                              "enum": [
                                "select",
                                "fromAll",
                                "map"
                              ]
                            }
                          },
                          {
                            "name": "valueInputOption",
                            "type": "select",
                            "label": "Value input option",
                            "validate": {
                              "enum": [
                                "USER_ENTERED",
                                "RAW"
                              ]
                            }
                          },
                          {
                            "name": "from",
                            "type": "select",
                            "label": "Drive",
                            "required": true,
                            "validate": {
                              "enum": [
                                "drive",
                                "share",
                                "team"
                              ]
                            }
                          },
                          {
                            "name": "spreadsheetId",
                            "type": "file",
                            "label": "Spreadsheet Name",
                            "required": true
                          },
                          {
                            "name": "sheetId",
                            "type": "select",
                            "label": "Sheet Name",
                            "required": true
                          },
                          {
                            "name": "rowNumber",
                            "type": "uinteger",
                            "label": "Row number",
                            "required": true
                          },
                          {
                            "name": "includesHeaders",
                            "type": "select",
                            "label": "Table contains headers",
                            "required": true,
                            "validate": {
                              "enum": [
                                true,
                                false
                              ]
                            }
                          },
                          {
                            "name": "useColumnHeaders",
                            "type": "select",
                            "label": "Use column headers as IDs of the columns",
                            "required": true,
                            "validate": {
                              "enum": [
                                true,
                                false
                              ]
                            }
                          },
                          {
                            "name": "values",
                            "type": "collection",
                            "label": "Values in columns",
                            "metadata": [
                              [
                                [
                                  "OrderID",
                                  "order_timestamp",
                                  "customer_name",
                                  "customer_email",
                                  "payment_status",
                                  "total_amount",
                                  "item_count",
                                  "processed_at",
                                  "processing_status",
                                  "notification_status"
                                ]
                              ]
                            ],
                            "spec": [
                              {
                                "name": "0",
                                "type": "text",
                                "label": "OrderID (A)"
                              },
                              {
                                "name": "1",
                                "type": "text",
                                "label": "order_timestamp (B)"
                              },
                              {
                                "name": "2",
                                "type": "text",
                                "label": "customer_name (C)"
                              },
                              {
                                "name": "3",
                                "type": "text",
                                "label": "customer_email (D)"
                              },
                              {
                                "name": "4",
                                "type": "text",
                                "label": "payment_status (E)"
                              },
                              {
                                "name": "5",
                                "type": "text",
                                "label": "total_amount (F)"
                              },
                              {
                                "name": "6",
                                "type": "text",
                                "label": "item_count (G)"
                              },
                              {
                                "name": "7",
                                "type": "text",
                                "label": "processed_at (H)"
                              },
                              {
                                "name": "8",
                                "type": "text",
                                "label": "processing_status (I)"
                              },
                              {
                                "name": "9",
                                "type": "text",
                                "label": "notification_status (J)"
                              },
                              {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                              },
                              {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                              },
                              {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                              },
                              {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                              },
                              {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                              },
                              {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                              },
                              {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                              },
                              {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                              },
                              {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                              },
                              {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                              },
                              {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                              },
                              {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                              },
                              {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                              },
                              {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                              },
                              {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                              },
                              {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  ]
                }
              ]
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 0,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": true,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com",
    "notes": []
  },
  "_public_note": "This blueprint was sanitized for public sharing. Connections, IDs, labels, emails, and environment-specific references were replaced."
}